<h1>About me</h1>
<p>My name is KC. I am a passsionate web developer. I enjoy building web applications and learning about most advanced web technologies.</p>
<p>Effective communication is the key to successful product. By aligning with the client's specifications, we ensure the project delivered on time and on budget.</p>
