
<br>

<div class="row">

  <!-- <div class="col-md-4">
    <img src="https://placehold.it/275x250" alt="profile image">
  </div> -->

  <div class="col-md-5">
    <%= image_tag "comic.png", width: 200, alt:"profile image" %>
  </div>

  <div class="col-md-7">
    <br>
    <br>
    <br>
    <p>My name is KC. I am a passsionate web developer. I enjoy building web applications and learning about most advanced web technologies.</p>
    <p>Effective communication is the key to successful product. By aligning with the client's specifications, we ensure the project delivered on time and on budget.</p>
  </div>

</div>

