<div class="inner cover">
  <h1 class="cover-heading">Creative Design</h1>
  <p class="lead">Gaining a quality website should not be deemed as an expense, but rather, an investment. Quality is neither expensive nor short-lived, it is priceless and timeless.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %> 
  </p>
</div>




